<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Информация о типе средства измерений</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
</head>

<script type="text/javascript">
    var app = angular.module("MI_TYPE_CARD", []);
    var idAttr = new URL (document.URL).searchParams.get("id");
        app.controller("MI_TYPE_CARD_CTRL", function($scope, $http){
            $scope.reference = "/mits/form/"+idAttr+"?id="+idAttr
            $scope.documents = [];

            $scope.getMiType = function(){
                $http({
                url: "/mit/"+idAttr,
                method: "GET"
            }).then(function(response){
                $scope.miType = response.data;
                $scope.startDate = new Date (response.data.startDate);
                $scope.endDate = new Date (response.data.endDate);
            });
            }


            $scope.getDocuments = function(){
                $http({
                url: "/files/documents?category=MI_TYPE&id="+idAttr,
                method: "GET"
            }).then(function(response){
                $scope.documents = response.data;
                console.log($scope.documents);
            });
            }





            $scope.getMiType();
            $scope.getDocuments();

        });


    </script>

<body ng-app="MI_TYPE_CARD" ng-controller="MI_TYPE_CARD_CTRL">
<script src="/js/bootstrap.bundle.min.js"></script>
<div class="container text-center">
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/mits'">К перечню типов СИ</button>
            <a href="{{reference}}" class="btn btn-outline-info " tabindex="-1" role="button">Редактирование</a>
        </form>
    </nav>

    <div class="row">
        <div class="col-sm-9">
            <dl class="row text-start" >
                <dt class="col-sm-6">Номер в ФИФ ОЕИ</dt>
                <dd ng-model="type" class="col-sm-6">{{miType.number}}</dd>

                <dt class="col-sm-6">Наименование</dt>
                <dd ng-model="type" class="col-sm-6">{{miType.title}}</dd>

                <dt class="col-sm-6 text-truncate">Обозначение</dt>
                <dd ng-model="type" class="col-sm-6">{{miType.notation}}</dd>

                <dt class="col-sm-6">Перbод действия</dt>
                <dd ng-model="type" class="col-sm-6"> c {{startDate | date:"dd.MM.yyyy"}} по {{endDate | date:"dd.MM.yyyy"}}</dd>
                
                <dt class="col-sm-6">Интервал между поверками (МПИ), лет</dt>
                <dd ng-model="type" class="col-sm-6">{{miType.verificationPeriod}}</dd>

                <dt class="col-sm-6">Обозначение методики поверки</dt>
                <dd ng-model="type" class="col-sm-6">{{miType.instructionNotation}}</dd>

                <dt class="col-sm-6">Наименование методики поверки</dt>
                <dd ng-model="type" class="col-sm-6">{{miType.instructionTitle}}</dd>
               
                <p></p>
                <dt><u>Условия поверки</u></dt>

                <dt class="col-sm-6">Допустимый диапазон температуры окружающей среды</dt>
                <dd ng-model="type" class="col-sm-6">от {{miType.temperatureLowLimit}}&degC  до {{miType.temperatureHiLimit}}&degC</dd>

                <dt class="col-sm-6">Допустимый диапазон относительной влажности воздуха</dt>
                <dd ng-model="type" class="col-sm-6">от {{miType.humidityLowLimit}} %  до {{miType.humidityHiLimit}} %</dd>

                <dt class="col-sm-6">Допустимый диапазон атмосферного давления</dt>
                <dd ng-model="type" class="col-sm-6">от {{miType.pressureLowLimit}} %  до {{miType.pressureHiLimit}} %</dd>
                
                <p></p>
                <dt><u>Файлы</u></dt>
                <dd ng-repeat="document in documents"><a href="/files/documents/{{document.id}}" target="_blank">{{document.description}}</a></dd>


            </dl>

        </div>
        <div class="col-sm-3">
            <div class="table-responsive" style="max-height: 250px;" >
                <table class="table table-striped">
                    <th>Модификации</th>
                    <tr ng-repeat="modification in miType.modifications"><td>{{modification}}</td></tr>
                </table>
            </div>
    </div>
    </div>
</div>
</body>
</html>
