<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Изменение типа средства измерений</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="ORGANIZATION_EDIT" ng-controller="ORGANIZATION_EDIT_CTRL">
    <div class="container text-left">
        <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
                <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/organizations'">Перечень
                    организаций</button>
            </form>
        </nav>

        <div class="row text-center">
            <h5>Редактирование информации об организации</h5>
        </div>

        <div class="p-3 bg-info bg-opacity-10 border border-info rounded-3">
            <div class="row g-2">
                <div class="input-group">
                    <span class="input-group-text">Короткое наименование</span>
                    <input type="text" ng-model="organization.notation" placeholder="ООО 'Организация'"
                        class="form-control" id="inputText1" value="" required>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Полное наименование</span>
                    <input type="text" ng-model="organization.title"
                        placeholder="Пример: Общество с ограниченной отвественность 'Организация'" class="form-control"
                        id="inputText2" value="" required>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Адрес</span>
                    <input type="text" ng-model="organization.address" placeholder="Пример: г. Москва" class="form-control"
                        id="inputText3" value="" required>
                </div>
            </div>
        </div>
       
        <p></p>
        <div class="col-12">
            <button class="btn btn-primary" ng-click="updateOrganization()" type="button">Сохранить</button>
        </div>
    </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("ORGANIZATION_EDIT", []);
        var idAttr = new URL(document.URL).searchParams.get("id");
        app.controller("ORGANIZATION_EDIT_CTRL", function ($scope, $http) {
    
            $scope.getOrganization = function () {
                $http({
                    url: "/organization/" + idAttr,
                    method: "GET"
                }).then(function (response) {
                    $scope.organization = response.data;
                });
            }
    
            $scope.getOrganization();
    
    
            $scope.updateOrganization = function () {
                $http({
                    url: "/organization/" + idAttr,
                    method: "PUT",
                    data: $scope.organization
                }).then(function successCallback(response) {
                    alert(response.data.message);
                }, function errorCallback(response) {
                    alert(response.data.message)
                });
            }
    
    
        });
    </script>
</body>

</html>