<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Информация об отчете</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
</head>

<script type="text/javascript">
    var app = angular.module("REPORT_CARD", []);
    var idAttr = new URL (document.URL).searchParams.get("id");
    app.controller("REPORT_CARD_CTRL", function($scope, $http){
            $scope.reference = "/reports/form/"+idAttr+"?id="+idAttr;

        $scope.getReport = function(){
            $http({
                url: "/report/"+idAttr,
                method: "GET"
            }).then(function(response){
                $scope.report = response.data;
                $scope.records = $scope.report.records;
            });
        }


        $scope.createXML = function(){
                window.location.href = "/xml/"+idAttr+"?id="+idAttr;
        }

        $scope.getReport();
    });    


</script>

<body ng-app="REPORT_CARD" ng-controller="REPORT_CARD_CTRL">
<script src="/js/bootstrap.bundle.min.js"></script>
<div class="container text-center">
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/reports'">Перечень отчетов</button>
        </form>
    </nav>

    <div class="row">
        <div class="col-sm-9">
            <dl class="row text-start" >
                <dt class="col-sm-6">№ отчета</dt>
                <dd ng-model="report" class="col-sm-6">{{report.id}}</dd>

                <dt class="col-sm-6">Дата создания</dt>
                <dd ng-model="report"  ng-model-options="{timezone: 'UTC'}" type="date" class="col-sm-6">{{report.creationDateTime  | date:"dd.MM.yyyy HH:mm"}}</dd>

                <table class="table table-info table-striped table-bordered table-hover">
                    <tr>
                        <th>№ типа СИ</th>
                        <th>Модификация</th>
                        <th>Заводской номер</th>
                        <th>Владелец</th>
                        <th>Дата поверки</th>
                        <th>Дата действия поверки</th>
                        <th>Вид поверки</th>
                        <th>По калибровке</th>
                        <th>Результат поверки</th>
                        <th>Номер наклейки</th>
                        <th>Методика поверки</th>
                        <th>Поверитель</th>
                        <th>Средство поверки</th>
                        <th>Температура, &degС</th>
                        <th>Влажность, %</th>
                        <th>Давление, кПа</th>
                        <th>Номер записи о поверке в ФГИС АРШИН</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in records track by $index">
                        <td>{{item.miTypeNumber}}</td>
                        <td>{{item.modification}}</td>
                        <td>{{item.serialNumber}}</td>
                        <td>{{item.miOwner}}</td>
                        <td>{{item.verificationDate  | date:"dd.MM.yyyy"}}</td>
                        <td>{{item.validDate  | date:"dd.MM.yyyy"}}</td>
                        <td>{{item.verificationType}}</td>
                        <td>{{item.calibration}}</td>
                        <td>{{item.result}}</td>
                        <td>{{item.stickerNumber}}</td>
                        <td>{{item.procedureDocNumber}}</td>
                        <td>{{item.employee.surname}} {{item.employee.name}}</td>
                        <td>{{item.standard}}</td>
                        <td>{{item.temperature}}</td>
                        <td>{{item.humidity}}</td>
                        <td>{{item.pressure}}</td>
                        <td>{{item.arshinRecordNumber}}</td>
                        <td><a href="/reports/record/{{item.id}}?id={{item.id}}">Редактировать</a></td>
                    </tr>
                </table>
             </dl>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" ng-click="createXML()" type="button">Получить XML отчет для Россаккредитации</button>
      </div>
</div>
</body>
</html>
