<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редактирование данных пользователя</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
</head>

<script type="text/javascript">
    var app = angular.module("VRF_ISSUE_CARD", []);
    var idAttr = new URL (document.URL).searchParams.get("id");
        app.controller("VRF_ISSUE_CARD_CTRL", function($scope, $http){
            $scope.reference = "/verificationIssues/form/"+idAttr+"?id="+idAttr;

            $scope.getIssue = function(){
                $http({
                url: "/verificationIssue/"+idAttr,
                method: "GET"
            }).then(function(response){
                $scope.verificationIssue = response.data;
                $scope.verificationRecords = $scope.verificationIssue.verificationRecords;
            });
            }


            $scope.createXML = function(){
                window.location.href = "/xml/"+idAttr+"?id="+idAttr;
            }

            $scope.getIssue();
            
        });


    </script>

<body ng-app="VRF_ISSUE_CARD" ng-controller="VRF_ISSUE_CARD_CTRL">
<script src="/js/bootstrap.bundle.min.js"></script>
<div class="container text-center">
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/issues'">К списку заявок</button>
        </form>
    </nav>

    <div class="row">
        <div class="col-sm-9">
            <dl class="row text-start" >
                <dt class="col-sm-6">№ заявки</dt>
                <dd ng-model="type" class="col-sm-6">{{verificationIssue.id}}</dd>

                <dt class="col-sm-6">Дата создания</dt>
                <dd ng-model="type"  ng-model-options="{timezone: 'UTC'}" type="date" class="col-sm-6">{{verificationIssue.creationDateTime  | date:"dd.MM.yyyy HH:mm"}}</dd>

                <table class="table table-info table-striped table-hover">
                    <tr><th>№ записи о поверке</th><th>Дата поверки</th><th>Действительно до</th><th>Обозначение СИ</th><th>Поверитель</th><th></th></tr>
                    <tr ng-repeat="item in verificationRecords track by $index"><td>{{item.numberVerification}}</td><td>{{item.dateVerification | date:"dd.MM.yyyy":'UTC'}}</td><td>{{item.dateEndVerification | date:"dd.MM.yyyy" :'UTC'}}</td><td>{{item.typeMeasuringInstrument}}</td><td>{{item.employee.surname}} {{item.employee.name}}</td><td><a href="/issues/record/{{item.id}}?id={{item.id}}">Редактировать</a></td></tr>
                </table>
             </dl>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" ng-click="createXML()" type="button">Получить XML отчет для Россаккредитации</button>
      </div>
</div>
</body>
</html>
