<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список пользователей</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
</head>
<script type="text/javascript">
    var app = angular.module("VRFISSUE_LIST", []);
    app.controller("VRFISSUE_LIST_CTRL", function($scope, $http){

        $scope.issues = [];
        $scope.getIssues = function(){
        $http({
            url: "/verificationIssue",
            method: "GET"
        }).then(function(response){
            $scope.issues = response.data;
            console.log($scope.issues);
        });
        }

        $scope.getIssues();
    });


</script>
<body ng-app="VRFISSUE_LIST" ng-controller="VRFISSUE_LIST_CTRL">
<script src="/js/bootstrap.bundle.min.js"></script>
<div class="container text-center">
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/issues/form'">Создать заявку</button>
          
        </form>
    </nav>
    <div class="row">
        <table class="table table-info table-striped table-hover">
            <tr><th>Номер заявки</th><th>Дата создания заявки</th></tr>
            <tr ng-repeat="issue in issues"><td><a href="issues/{{issue.id}}?id={{issue.id}}">Заявка № {{issue.id}}</a></td><td>{{issue.creationDateTime | date:"dd.MM.yyyy HH:mm" :'UTC'}}</td></tr>
        </table>
    </div>
    <div class="row">


    </div>
</div>
</body>
</html>
