<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Редактирование данных организации</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
</head>

<script type="text/javascript">
    var app = angular.module("MI_CARD", []);
    var idAttr = new URL(document.URL).searchParams.get("id");
    app.controller("MI_CARD_CTRL", function ($scope, $http) {
        $scope.reference = "/mis/form/" + idAttr + "?id=" + idAttr

        $scope.getMeasurementInstrument = function () {
            $http({
                url: "/mi/" + idAttr,
                method: "GET"
            }).then(function (response) {
                $scope.mi = response.data;
                $scope.formatMiDateFields();
                $scope.mi.applicable = $scope.mi.applicable ? "Пригоден" : "Не пригоден";
            });
        }


        $scope.formatMiDateFields = function () {
            if ($scope.mi.manufactureDate != null) {
                $scope.mi.manufactureDate = new Date($scope.mi.manufactureDate);
            }
            if ($scope.mi.startUseDate != null) {
                $scope.mi.startUseDate = new Date($scope.mi.startUseDate);
            }
            if ($scope.mi.verificationDate != null) {
                $scope.mi.verificationDate = new Date($scope.mi.verificationDate);
            }
            if ($scope.mi.validDate != null) {
                $scope.mi.validDate = new Date($scope.mi.validDate);
            }
            if ($scope.mi.creationDateTime != null) {
                $scope.mi.creationDateTime = new Date($scope.mi.creationDateTime);
            }
            if ($scope.mi.updatingDateTime != null) {
                $scope.mi.updatingDateTime = new Date($scope.mi.updatingDateTime);
            }

        }

        $scope.getMeasurementInstrument();

    });


</script>

<body ng-app="MI_CARD" ng-controller="MI_CARD_CTRL">
    <div class="container text-center">
        <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
                <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/mis'">К перечню
                    средств измерений</button>
                <a href="{{reference}}" class="btn btn-outline-info " tabindex="-1" role="button">Редактирование</a>
            </form>
        </nav>

        <div class="row">
            <div class="col-sm-6">
                <dl class="row text-start">
                    <h5>Основные сведения о средстве измерений</h5>

                    <dt class="col-sm-6">Наименование</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.mitype.title}} {{mi.type.notation}}</dd>

                    <dt class="col-sm-6">Модификация</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.modification}}</dd>

                    <dt class="col-sm-6 ">Заводской номер</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.serialNum}}</dd>

                    <dt class="col-sm-6 ">Инвентарный номер</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.inventoryNum}}</dd>

                    <dt class="col-sm-6 ">Дата изготовления</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.manufactureDate | date: "dd.MM.yyyy"}}</dd>

                    <dt class="col-sm-6 ">Дата ввода в эксплуатацию</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.startUseDate | date: "dd.MM.yyyy"}}</dd>

                    <p></p>

                    <h5>Сведения о владельце</h5>

                    <dt class="col-sm-6">Наименование</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.owner. title}}</dd>

                    <dt class="col-sm-6"></dt>
                    <dd ng-model="type" class="col-sm-6">({{mi.owner.notation}})</dd>

                    <dt class="col-sm-6">Адрес</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.owner. address}}</dd>


            </div>

            <div class="col-sm-4">
                <dl class="row text-start">
                    <h5>Результаты поверки</h5>

                    <dt class="col-sm-6">Дата поверки</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.verificationDate | date: "dd.MM.yyyy"}}</dd>

                    <dt class="col-sm-6">Действительно до</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.validDate | date: "dd.MM.yyyy"}}</dd>

                    <dt class="col-sm-6 ">Пригоден</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.applicable}}</dd>
            </div>
        </div>
        <p></p>
        <div class="row text-start">
            <div class="col-sm-6">
                <dt class="col-sm-6"><i>Запись создана<i></dt>
                <dd class="col-sm-6"><i>{{mi.creationDateTime | date: "dd.MM.yyyy HH:mm"}}</i></dd>

                <dt class="col-sm-3"><i>Запись обновлена<i></dt>
                <dd class="col-sm-3"><i>{{mi.updatingDateTime | date: "dd.MM.yyyy HH:mm"}}</i></dd>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>