<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сведения о СИ</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="MI_CARD" ng-controller="MI_CARD_CTRL">
    <div class="container text-center">
        <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
                <button class="btn btn-outline-success me-2" onclick="location.href='/mi'" type="button">К перечню
                    средств измерений</button>
                <a href="{{reference}}" class="btn btn-outline-info " tabindex="-1" role="button">Редактирование</a>
            </form>
        </nav>

        <div class="row">
            <div class="col-sm-6">
                <dl class="row text-start">
                    <h5>Основные сведения о средстве измерений</h5>

                    <dt class="col-sm-6">Наименование</dt>
                    <dd class="col-sm-6" ng-model="type">{{mi.title}}</dd>

                    <dt class="col-sm-6">Модификация</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.modification}}</dd>

                    <dt class="col-sm-6">Номер типа СИ в ФИФ ОЕИ</dt>
                    <dd class="col-sm-6" ng-model="type"><a href="/mit/{{mi.miType.id}}?id={{mi.miType.id}}">{{mi.miType.number}}</a></dd>

                    <dt class="col-sm-6 ">Заводской номер</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.serialNum}}</dd>

                    <dt class="col-sm-6 ">Инвентарный номер</dt>
                    <dd ng-model="type" class="col-sm-6">{{miDetails.inventoryNum}}</dd>

                    <dt class="col-sm-6 ">Дата изготовления</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.manufactureDate | date: "dd.MM.yyyy" : 'UTC'}}</dd>

                    <dt class="col-sm-6 ">Дата ввода в эксплуатацию</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.startUseDate | date: "dd.MM.yyyy" : 'UTC'}}</dd>

                    <p></p>
                    <dt class="col-sm-6 ">Статус СИ</dt>
                    <dd ng-model="type" class="col-sm-6">{{miDetails.status.status}}</dd>

                    <dt class="col-sm-6 ">Состояние</dt>
                    <dd ng-model="type" class="col-sm-6">{{miDetails.condition.title}}</dd>

                    <p></p>

                    <h5>Сведения о владельце</h5>

                    <dt class="col-sm-6">Наименование</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.owner.title}}</dd>

                    <dt class="col-sm-6"></dt>
                    <dd ng-model="type" class="col-sm-6">({{mi.owner.notation}})</dd>

                    <dt class="col-sm-6">Адрес</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.owner.address}}</dd>

                    <dt class="col-sm-6 ">Эксплуатирующее подразделение</dt>
                    <dd ng-model="type" class="col-sm-6">{{miDetails.department.notation}}</dd>

                    <dt class="col-sm-6 ">Ответственный за эксплуатацию</dt>
                    <dd ng-model="type" class="col-sm-6">{{miDetails.user}}</dd>

                    <p></p>
                    <h5>Файлы</h5>
                    <dd ng-repeat="document in miDocuments"><a href="/files/documents/{{document.id}}"
                            target="_blank">{{document.description}}</a></dd>
                    <dd ng-repeat="document in miTypeDocuments"><a href="/files/documents/{{document.id}}"
                            target="_blank">{{document.description}}</a></dd>

            </div>

            <div class="col-sm-4">
                <dl class="row text-start">
                    <h5>Результаты поверки</h5>

                    <dt class="col-sm-6">Дата поверки</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.verificationDate | date: "dd.MM.yyyy" : 'UTC'}}</dd>

                    <dt class="col-sm-6">Действительно до</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.validDate | date: "dd.MM.yyyy" : 'UTC'}}</dd>

                    <dt class="col-sm-6 ">Пригодность</dt>
                    <dd ng-model="type" class="col-sm-6">{{mi.applicable}}</dd>

                    <p></p>

                    <dt class="col-sm-6 ">Вид измерений</dt>
                    <dd ng-model="type" class="col-sm-6">{{miDetails.measCategory.title}}</dd>

                    <p></p>

                    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div ng-model="images" class="carousel-item active">
                                <a href="/files/images/{{images[0].id}}" target="_blank"><img ng-src="/storage/images/{{images[0].storageFileName}}" class="d-block w-100"></a>
                                <div class="carousel-caption d-none d-md-block">
                                    <p>{{images[0].description}}</p>
                                </div>
                            </div>
                            <div ng-repeat="item in imagesExceptFirst" class="carousel-item">
                                <a href="/files/images/{{item.id}}" target="_blank"><img ng-src="/storage/images/{{item.storageFileName}}" class="d-block w-100"></a>
                                <div class="carousel-caption d-none d-md-block">
                                    <p>{{item.description}}</p>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Предыдущий</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Следующий</span>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
        <p></p>
        <div class="row text-start">
            <div class="col-sm-6">
                <dt class="col-sm-6"><i>Запись создана</i></dt>
                <dd class="col-sm-6"><i>{{mi.creationDateTime | date: "dd.MM.yyyy HH:mm" : 'UTC'}}</i></dd>

                <dt class="col-sm-3"><i>Запись обновлена</i></dt>
                <dd class="col-sm-3"><i>{{mi.updatingDateTime | date: "dd.MM.yyyy HH:mm" : 'UTC'}}</i></dd>
            </div>
        </div>
    </div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("MI_CARD", []);
        var idAttr = new URL(document.URL).searchParams.get("id");
        app.controller("MI_CARD_CTRL", function ($scope, $http) {
            $scope.reference = "/mi/form/" + idAttr + "?id=" + idAttr



            $scope.mi = {};
            $scope.mi.miType = {};
            $scope.getMeasurementInstrument = function () {
                $http({
                    url: "/mis/" + idAttr,
                    method: "GET"
                }).then(function (response) {
                    $scope.miDetails = response.data;
                    $scope.mi = $scope.miDetails.miFullDto;
                    $scope.formatMiDateFields();
                    $scope.mi.applicable = $scope.mi.applicable ? "Пригоден" : "Не пригоден";
                    $scope.getMiTypeDocuments();
                    $scope.getMiDocuments();
                    $scope.getMiTypeImages();
                    $scope.getMiImages();
                });
            }


            $scope.formatMiDateFields = function () {
                if ($scope.mi.manufactureDate != null) {
                    $scope.mi.manufactureDate = new Date($scope.mi.manufactureDate);
                }
                if ($scope.mi.startUseDate != null) {
                    $scope.mi.startUseDate = new Date($scope.mi.startUseDate);
                }
                if ($scope.mi.verificationDate != null) {
                    $scope.mi.verificationDate = new Date($scope.mi.verificationDate);
                }
                if ($scope.mi.validDate != null) {
                    $scope.mi.validDate = new Date($scope.mi.validDate);
                }
                if ($scope.mi.creationDateTime != null) {
                    $scope.mi.creationDateTime = new Date($scope.mi.creationDateTime);
                }
                if ($scope.mi.updatingDateTime != null) {
                    $scope.mi.updatingDateTime = new Date($scope.mi.updatingDateTime);
                }

            }

            $scope.miTypeDocuments = [];
            $scope.getMiTypeDocuments = async function () {
                await $http({
                    url: "/files/documents?category=MI_TYPE&id=" + $scope.mi.miType.id,
                    method: "GET"
                }).then(function (response) {
                    $scope.miTypeDocuments = response.data;
                });
            }

            $scope.miDocuments = [];
            $scope.getMiDocuments = async function() {
                await $http({
                    url: "/files/documents?category=MEASUREMENT_INSTRUMENT&id=" + $scope.mi.id,
                    method: "GET"
                }).then(function (response) {
                    $scope.miDocuments = response.data;
                });
            }

            $scope.images = [];
            $scope.imagesExceptFirst = [];
            $scope.getImages = function(){
                $scope.imagesExceptFirst = $scope.images.slice();            
                $scope.imagesExceptFirst.shift(); 
            }
            
            $scope.miTypeImages = [];
            $scope.getMiTypeImages = function () {
                $http({
                    url: "/files/images?category=MI_TYPE&id=" + $scope.mi.miType.id,
                    method: "GET"
                }).then(function (response) {
                    $scope.images = $scope.images.concat(response.data);
                });
            }
            $scope.miImages = [];
            $scope.getMiImages = function () {
                $http({
                    url: "/files/images?category=MEASUREMENT_INSTRUMENT&id=" + $scope.mi.id,
                    method: "GET"
                }).then(function (response) {
                    $scope.images = $scope.images.concat(response.data);
                    $scope.getImages();
                });
            }

            $scope.getMeasurementInstrument();

        });


    </script>
</body>

</html>