<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавление средства измерений</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="MI_EDIT" ng-controller="MI_EDIT_CTRL">
    <div class="container text-left">
        <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
                <button class="btn btn-outline-success me-2" onclick="location.href='/mi'" type="button">Перечень
                    средств измерений</button>
            </form>
        </nav>

        <div class="row text-center">
            <h5>Добавление сведений о средстве измерений</h5>
        </div>
        <div class="p-3 bg-info bg-opacity-10 border border-info rounded-3">
            <div class="row g-2">
                <div class="col-md-2">
                    <label for="inputMiType" class="form-label">№ типа СИ</label>
                    <input type="text" autocomplete="off" ng-model="miDetails.miFullDto.miType.number" disabled
                        placeholder="XXXXX-XX" class="form-control" id="inputMiType" value="" required>
                </div>

                <div class="col-md-5 ">
                    <label class="form-label" for="inputMiTitle">Наименование типа*</label>
                    <input type="text" autocomplete="off" ng-change="searchType()"
                        ng-model="miDetails.miFullDto.miType.title" disabled class="form-control" id="inputMiTitle"
                        value="">
                </div>

                <div class="col-md-2">
                    <label class="form-label" for="inputText3">Обозначение типа СИ*</label>
                    <input type="text" autocomplete="off" disabled ng-model="miDetails.miFullDto.miType.notation"
                        class="form-control" id="inputText3" value="">
                </div>
                <div class="col-md-3">

                    <label class="form-label" for="inputOwner">Модификация*</label>
                    <input type="text" autocomplete="off" ng-change="searchModification()"
                        ng-model="miDetails.miFullDto.modification" data-bs-toggle="dropdown"
                        class="form-control mb-3 border-success dropdown-toggle" id="inputModification" value="">

                    <ul class="dropdown-menu" ng-model="miDetails.miFullDto.modification">
                        <li ng-repeat="item in modifications" value="{{item}}"> <a class="dropdown-item"
                                ng-click="selectModification(item)">{{item}}</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <p></p>

        <div class="p-3 bg-info bg-opacity-10 border border-info rounded-3">
            <div class="row g-2">
                <div class="col-md-3">
                    <label class="form-label" for="inputText4">Заводской №*</label>
                    <input type="text" autocomplete="off" ng-model="miDetails.miFullDto.serialNum"
                        class="form-control border-success" id="inputText4" value="" required>
                </div>
                <div class="col-md-3">
                    <label for="inputText5" class="form-label">Инвентарный №</label>
                    <input type="text" autocomplete="off" ng-model="miDetails.inventoryNum" class="form-control"
                        id="inputText5" value="" required>
                </div>
                <div class="col-md-6 ">
                    <label class="form-label" for="inputOwner">Владелец</label>
                    <input type="text" autocomplete="off" ng-change="searchOrganization()" ng-model="organization"
                        data-bs-toggle="dropdown" class="form-control dropdown-toggle" id="inputOwner" value="">

                    <ul class="dropdown-menu" ng-model="miDetails.miFullDto.owner">
                        <li ng-repeat="item in organizations" value="{{item}}"> <a class="dropdown-item"
                                ng-click="selectOrganization(item)">{{item.notation}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row g-2"> <a class="label" data-bs-toggle="collapse" href="#additionalFields" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Дополнительные поля
                </a>
            </div>
            <div class="row g-2 collapse" id="additionalFields">
                <div class="row">
                    <div class="col-md-3">
                        <label for="inputDate1" class="form-label">Изготовлено</label>
                        <input type="date" ng-model="mi.manufactureDate" ng-model-options="{timezone: 'UTC'}"
                            class="form-control" id="inputDate1" value="">
                    </div>
                    <div class="col-md-3">
                        <label for="inputDate2" class="form-label">Введено в эксплуатацию</label>
                        <input type="date" ng-model="mi.startUseDate" ng-model-options="{timezone: 'UTC'}"
                            class="form-control" id="inputDate2" value="">
                    </div>
                    <div class="col-md-6">
                        <label for="inputText7" class="form-label">Ответственный за эксплуатацию</label>
                        <input type="text" autocomplete="off" ng-model="user" class="form-control" id="inputText7"
                            value="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label" for="select4">Вид измерений</label>
                        <select ng-options="item as item.title for item in measCategories track by item.id"
                            ng-model="miDetails.measCategory" class="form-select border-info" id="select4">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="select5">Состояние СИ</label>
                        <select ng-options="item as item.title for item in miConditions track by item.id"
                            ng-model="miDetails.condition" class="form-select border-info" id="select5">
                        </select>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>

            </div>
        </div>

        <p></p>

        <div class="p-3 bg-info bg-opacity-10 border border-info rounded-3">
            <div class="row g-2">
                <div class="col-md-4">
                    <label class="form-label" for="inputDate3">Дата поверки</label>
                    <input type="date" ng-model="miDetails.miFullDto.verificationDate"
                        ng-model-options="{timezone: 'UTC'}" class="form-control" id="inputDate3" value="" required>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="inputDate4">Действительно до</label>
                    <input type="date" ng-model="miDetails.miFullDto.validDate" ng-model-options="{timezone: 'UTC'}"
                        class="form-control" id="inputDate4" value="" required>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="select2">Пригодность*</label>
                    <select ng-model="applicable" class="form-select border-success" aria-label="Пригодность"
                        ng-options="applicable as applicable.title for applicable in applicables track by applicable.value"
                        id="select2">
                    </select>
                </div>
            </div>
        </div>

        <p></p>

        <p></p>
        <div class="col-md-12"> Файлы
            <div class="bg-info bg-opacity-10 border border-info overflow-y-scroll rounded-3 ">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-info table-striped table-hover">
                            <tr ng-repeat="document in documents">
                                <td><a href="/files/documents/{{document.id}}" target="_blank">
                                        {{document.description}}
                                    </a></td>
                                <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal"
                                        ng-click="getDeleteableIdandFiletype(document.id, 'document')"
                                        type="button">Удалить</button></td>
                            <tr ng-repeat="image in images">
                                <td> <a href="/files/images/{{image.id}}" target="_blank">{{image.description}}
                                    </a></td>
                                <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal"
                                        ng-click="getDeleteableIdandFiletype(image.id, 'image')"
                                        type="button">Удалить</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="inline-block" type="file" file-model="change.fnEvidence" name="file"
                            ng-model="file" data-rule-required="true" id="file"
                            accept=".jpg,.jpeg,.png,.gif,.bmp,.svg,.pdf,.odf,.ods,.docx,.doc,.odt">
                        <input class="inline-block" type="text" ng-model="description">
                        <button class="btn btn-outline-primary" ng-click="addFile()" type="button">Добавить
                            файл</button>
                    </div>
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <button class="btn btn-primary" ng-click="saveMi()" type="button">Сохранить изменения</button>
        </div>

        <!-- Модальное окно -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="Подтверждение удаления" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Вы уверены, что хотите удалить файл</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary"
                            ng-click="deleteFile(deleteableId, fileType)">Удалить</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        let app = angular.module("MI_EDIT", []);
        let idAttr = new URL(document.URL).searchParams.get("id");
        let fileCategory = "MEASUREMENT_INSTRUMENT";
        app.controller("MI_EDIT_CTRL", function ($scope, $http) {
            $scope.miDetails = {};
            $scope.descriptions = [];
            $scope.applicables = [{ 'title': 'Пригодно', 'value': true },
            { 'title': 'Не пригодно', 'value': false }];



            function getMi() {
                $http({
                    url: "/mis/" + idAttr,
                    method: "GET"
                }).then(function (response) {
                    $scope.miDetails = response.data;
                    formatDateFields();
                    $scope.organization = $scope.miDetails.miFullDto.owner.notation;
                    $scope.applicable = setApplicable($scope.miDetails.miFullDto);
                    $scope.getModifications();
                });
            }

            function formatDateFields() {
                if ($scope.miDetails.miFullDto.verificationDate != null) {
                    $scope.miDetails.miFullDto.verificationDate = new Date($scope.miDetails.miFullDto.verificationDate);
                }
                if ($scope.miDetails.miFullDto.validDate != null) {
                    $scope.miDetails.miFullDto.validDate = new Date($scope.miDetails.miFullDto.validDate);
                }
            }


            function setApplicable(mi) {
                let applicable = { 'title': 'Пригодно', 'value': true };
                if (mi.applicable == false) {
                    applicable = { 'title': 'Не пригодно', 'value': false };
                }
                return applicable;
            }


            function getMeasCategories() {
                $http({
                    url: "/measurement-categories",
                    method: "GET"
                }).then(function (response) {
                    $scope.measCategories = response.data;
                });
            }

            function getMiConditions() {
                $http({
                    url: "/mi-conditions",
                    method: "GET"
                }).then(function (response) {
                    $scope.miConditions = response.data;
                });
            }

            function showDropdownMenuById(id) {
                let elem = document.getElementById(id);
                bootstrap.Dropdown.getOrCreateInstance(elem).show();
            }

            $scope.miDetails.miFullDto = {}
            $scope.miDetails.miFullDto.miType = {};
            function getMiTypeFullData(id) {
                $http({
                    url: "/mits/" + id,
                    method: "GET"
                }).then(function (response) {
                    $scope.miDetails.miFullDto.miType = response.data;
                    $scope.getModifications();
                });
            }

            //Получение модификаций для выбранного типа СИ
            $scope.modifications = [];
            $scope.getModifications = function () {
                if ($scope.miDetails.miFullDto.miType.id >= 0) {
                    $http({
                        url: "/mits/modifications/" + $scope.miDetails.miFullDto.miType.id ,
                        method: "GET"
                    }).then(function (response) {
                        $scope.modifications = response.data;
                    });
                }
            }

            $scope.searchModification = function () {
                showDropdownMenuById('inputModification');
                if ($scope.miDetails.miFullDto.modification.length >= 2) {
                    $http({
                        url: "/mits/search/modifications/" + $scope.miDetails.miFullDto.miType.id + "?search=" + $scope.miDetails.miFullDto.modification,
                        method: "GET"
                    }).then(function (response) {
                        $scope.modifications = response.data;
                    });
                }
            }


            $scope.selectModification = function (item) {
                $scope.miDetails.miFullDto.modification = item;
            }


            $scope.organizations = [];
            $scope.searchOrganization = function () {
                showDropdownMenuById('inputOwner');
                if ($scope.organization.length >= 3) {
                    $http({
                        url: "/organizations/search?search=" + $scope.organization,
                        method: "GET"
                    }).then(function (response) {
                        $scope.organizations = response.data;
                    });
                }
            }


            $scope.selectOrganization = function (item) {
                $scope.organization = item.notation;
                $scope.miDetails.miFullDto.owner = item;
            }

            $scope.buildFileNameList = function () {
                $scope.filenames = [];
                for (let i = 0; i < file.files.length; i++) {
                    $scope.filenames.push(file.files[i].name);
                }
            }

            // Работа с файлами
            $scope.documents = [];
            function getMiDocuments() {
                $http({
                    url: "/files/documents?category=" + fileCategory + "&id=" + idAttr,
                    method: "GET"
                }).then(function (response) {
                    $scope.documents = response.data;
                });
            }

            $scope.images = [];
            function getMiImages() {
                $http({
                    url: "/files/images?category=" + fileCategory + "&id=" + idAttr,
                    method: "GET"
                }).then(function (response) {
                    $scope.images = response.data;
                });
            }

            $scope.getDeleteableIdandFiletype = function (id, fileType) {
                $scope.deleteableId = id;
                $scope.fileType = fileType;
            }

            $scope.deleteFile = function () {
                let deleteUrl = "";
                var myModalEl = document.getElementById('modal')
                var modal = bootstrap.Modal.getInstance(myModalEl);
                modal.hide();
                if ($scope.fileType == 'document') {
                    deleteUrl = "/files/documents/";
                } else {
                    deleteUrl = "/files/images/";
                }
                $http({
                    url: deleteUrl + $scope.deleteableId,
                    method: "DELETE"
                }).then(function (response) {
                    alert(response.data.message);
                    getMiDocuments();
                    getMiImages();
                });
            }

            $scope.addFile = function () {
                if (file.files.length > 0) {
                    $scope.buildFormData();
                    $http({
                        url: "/files",
                        method: "POST",
                        data: formData,
                        headers: {
                            'Accept': '*/*',
                            'Content-Type': undefined
                        }
                    }).then(function (response) {
                        $scope.description = "";
                        getMiDocuments();
                        getMiImages();
                    });
                } else {
                    alert('Выберите файл');
                }
            }

            //Подготовка formData для отправки
            let formData = new FormData();
            $scope.description = "";
            $scope.buildFormData = function () {
                formData = new FormData();
                formData.append('description', $scope.description);
                formData.append('category', fileCategory);
                formData.append('categoryId', idAttr);
                formData.append('file', file.files[0]);
            }



            // сохранение изменений в БД;
            $scope.saveMi = function () {
                $scope.miDetails.miFullDto.applicable = $scope.applicable.value;
                    $http({
                        url: "/mis/" + idAttr,
                        method: "PUT",
                        data: $scope.miDetails,
                    }).then(function successCallback(response) {
                        alert(response.data.message);
                        window.location.href = '/mi/' + $scope.miDetails.id + '?id=' + $scope.miDetails.id;
                    }, function errorCallback(response) {
                        alert(response.data.message)
                    });
            }


            //Инициализация
            getMi();
            getMiConditions();
            getMeasCategories();
            getMiDocuments();
            getMiImages();

        });
    </script>
</body>

</html>