<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавление средства измерений</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="MI_FORM" ng-controller="MI_FORM_CTRL">
    <div class="container text-left">
        <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
                <button class="btn btn-outline-success me-2" onclick="location.href='/mi'" type="button">Перечень
                    средств измерений</button>
            </form>
        </nav>

        <div class="row text-center">
            <h5>Добавление сведений о средстве измерений</h5>
        </div>
        <div class="p-3 bg-info bg-opacity-10 border border-info rounded-3">
            <div class="row g-2">
                <div class="col-md-2">
                    <label for="inputText1" class="form-label">№ типа СИ</label>
                    <input type="text" ng-change="searchTypeOnNumber()" ng-model="mi.miType.number" placeholder="XXXXX-XX"
                        class="form-control" id="inputText1" value="" required>
                </div>
                <div class="col-md-5 ">
                    <label class="form-label" for="inputText2">Наименование типа*</label>
                    <input type="text" ng-change="searchType()" ng-model="mi.miType.title" data-bs-toggle="dropdown"
                        class="form-control dropdown-toggle" id="inputText2" value="">

                    <ul class="dropdown-menu" ng-model="typeTitle">
                        <li ng-repeat="item in types" value="{{item}}"> <a class="dropdown-item"
                                ng-click="selectType(item)">{{item.number}} {{item.title}}
                                {{item.notation}}</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="inputText3">Обозначение типа СИ*</label>
                    <input type="text" ng-model="mi.miType.notation" class="form-control" id="inputText3" value="">
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="select1">Модификация*</label>
                    <select ng-model="mi.modification" class="form-select mb-3" aria-label="Заводской номер" id="select1">
                        <option ng-repeat="modification in modifications" value="{{modification}}">
                            {{modification}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <p></p>

        <div class="p-3 bg-info bg-opacity-10 border border-info rounded-3">
            <div class="row g-2">
                <div class="col-md-3">
                    <label class="form-label" for="inputText4">Заводской №*</label>
                    <input type="text" ng-model="mi.serialNum" class="form-control" id="inputText4" value="" required>
                </div>
                <div class="col-md-3">
                    <label for="inputText5" class="form-label">Инвентарный №</label>
                    <input type="text" ng-model="mi.inventoryNumber" class="form-control" id="inputText5" value=""
                        required>
                </div>
                <div class="col-md-6 ">
                    <label class="form-label" for="inputText6">Владелец*</label>
                    <input type="text" ng-change="searchOrganization()" ng-model="organization" data-bs-toggle="dropdown"
                        class="form-control dropdown-toggle" id="inputText6" value="">

                    <ul class="dropdown-menu" ng-model="mi.owner">
                        <li ng-repeat="item in organizations" value="{{item}}"> <a class="dropdown-item"
                                ng-click="selectOrganization(item)">{{item.notation}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row g-2"> <a class="label" data-bs-toggle="collapse" href="#additionalFields" role="button" aria-expanded="false" aria-controls="collapseExample">
                Дополнительные поля
              </a>
            </div>
            <div class="row g-2 collapse"  id="additionalFields">
                <div class="col-md-3">
                    <label for="inputDate1" class="form-label">Изготовлено</label>
                    <input type="date" ng-model="mi.manufactureDate" ng-model-options="{timezone: 'UTC'}"
                        class="form-control" id="inputDate1" value="">
                </div>
                <div class="col-md-3">
                    <label for="inputDate2" class="form-label">Введено в эксплуатацию</label>
                    <input type="date" ng-model="mi.startUseDate" ng-model-options="{timezone: 'UTC'}" class="form-control"
                        id="inputDate2" value="">
                </div>
                <div class="col-md-6">
                    <label for="inputText7" class="form-label">Ответственный за эксплуатацию</label>
                    <input type="text" ng-model="user" class="form-control" id="inputText7" value="" required>
                </div>
            </div>
        </div>

        <p></p>

        <div class="p-3 bg-info bg-opacity-10 border border-info rounded-3">
            <div class="row g-2">
                <div class="col-md-4">
                    <label class="form-label" for="inputDate3">Дата поверки*</label>
                    <input type="date" ng-model="mi.verificationDate" ng-model-options="{timezone: 'UTC'}"
                        class="form-control" id="inputDate3" value="" required>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="inputDate4">Действительно до*</label>
                    <input type="date" ng-model="mi.validDate" ng-model-options="{timezone: 'UTC'}" class="form-control"
                        id="inputDate4" value="" required>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="select2">Пригодность*</label>
                    <select ng-model="mi.applicable" class="form-select" aria-label="Заводской номер"  id="select2">
                        <option value="true">Пригоден</option>
                        <option value="false">Непригоден</option>
                    </select>
                </div>
            </div>
        </div>

        <p></p>

        <div class="bg-info bg-opacity-10 border border-info overflow-y-scroll rounded-3 ">
            <div class="row">
                <div class="col-md-12">
                    <input class="inline-block" type="file" file-model="change.fnEvidence" name="file" ng-model="file"
                        data-rule-required="true" multiple id="file"
                        accept=".jpg,.jpeg,.png,.gif,.bmp,.svg,.pdf,.odf,.ods,.docx,.doc,.odt">
                    <button class="btn btn-outline-primary" ng-click="buildFileNameList()" type="button">Добавить
                        файлы</button>
                </div>
            </div>
            <table class="table table-striped">
                <tr ng-repeat="item in filenames">
                    <td class="col-md-3">Файл: {{item}}</td>
                    <td class="col-md-8"><input type="text" ng-model="descriptions[$index]"
                            placeholder="Добавьте описание файла" class="form-control"></td>
                </tr>
            </table>
        </div>

        <p></p>

        <div class="col-12">
            <button class="btn btn-primary" ng-click="addMi()" type="button">Добавить</button>
        </div>
    </div>
    </div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("MI_FORM", []);
        app.controller("MI_FORM_CTRL", function ($scope, $http) {
            $scope.mi = {};
            $scope.descriptions = [];

            // Поиск типа СИ по номеру в ФИФ ОЕИ
            $scope.searchTypeOnNumber = function () {
                if (/^[0-9]{3,5}-[0-9]{2}$/.exec($scope.mi.miType.number)) {
                    console.log("Поиск типа си")
                    $http({
                        url: "/mits/search?search=" + $scope.mi.miType.number,
                        method: "GET"
                    }).then(function (response) {
                        $scope.mi.miType = response.data;
                        console.log($scope.miType)
                    });
                }
            }

            //Поиск типа СИ по подстроке
            $scope.types = [];
            $scope.searchType = function () {
                if ($scope.mi.miType.title.length > 3) {
                    $http({
                        url: "/mits/search?search=" + $scope.mi.miType.title,
                        method: "GET"
                    }).then(function (response) {
                        $scope.types = response.data;
                    });
                }
            }

            $scope.selectType = function (item) {
                getMiTypeFullData(item.id)
            }

            getMiTypeFullData = function (id) {
                    $http({
                        url: "/mits/" + id,
                        method: "GET"
                    }).then(function (response) {
                        $scope.mi.miType = response.data;
                        $scope.getModifications();
                    });
            }

            //Получение модификаций для выбранного типа СИ
            $scope.modifications = [];
            $scope.getModifications = function () {
                if ($scope.mi.miType.id >= 0) {
                    $http({
                        url: "/mits/modifications/" + $scope.mi.miType.id,
                        method: "GET"
                    }).then(function (response) {
                        $scope.modifications = response.data;
                    });
                }
            }



            $scope.organizations = [];
            $scope.searchOrganization = function () {
                if ($scope.organization.length >= 3) {
                    $http({
                        url: "/organizations/search?search=" + $scope.organization,
                        method: "GET"
                    }).then(function (response) {
                        $scope.organizations = response.data;
                    });
                }
            }



            $scope.selectOrganization = function (item) {
                $scope.organization = item.notation;
                $scope.mi.owner = item;
            }
            
            $scope.buildFileNameList = function () {
                $scope.filenames = [];
                for (let i = 0; i < file.files.length; i++) {
                    $scope.filenames.push(file.files[i].name);
                }
            }


            //Подготовка formData для отправки
            let formData = new FormData();
            $scope.buildFormData = function () {
                formData.append('instrument', JSON.stringify($scope.mi));
                formData.append('descriptions', $scope.descriptions);
                for (let i = 0; i < file.files.length; i++) {
                    formData.append('files', file.files[i])
                }
            }



            // сохранение в БД;
            $scope.addMi = function () {
                $scope.buildFormData();
                $http({
                    url: "/mis",
                    method: "POST",
                    data: formData,
                    headers: {
                            'Accept': '*/*',
                            'Content-Type': undefined
                        }
                }).then(function successCallback(response) {
                    alert(response.data.message);
                    formData = new FormData();
                }, function errorCallback(response) {
                    alert(response.data.message)
                });
            }

        });
    </script>
</body>

</html>