<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список поверителей</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
</head>
<script type="text/javascript">
        var app = angular.module("EMPLOYEE_LIST", []);
        app.controller("EMPLOYEE_LIST_CTRL", function($scope, $http){
        $scope.contentUrl =  "/employee";
        
        
        $scope.getPagesContentlist = function(contentUrl){
        $scope.getPageAttributes();
        $http({
            url: contentUrl + "/pages?page=" + $scope.pageNum + "&dir=" + $scope.sortDirection+"&size=" + $scope.pageSize,
            method: "GET"
        }).then(function(response){
            $scope.contentlist = response.data.content;
            $scope.createPaginationParams(response.data.totalPages);
        });
        }

        
        $scope.getPageAttributes = function(){
            var documentUrl = new URL (document.URL);
            $scope.pageNum = documentUrl.searchParams.get("page");
            $scope.sortDirection = documentUrl.searchParams.get("dir");
            $scope.pageSize = documentUrl.searchParams.get("size");
        
            if ($scope.pageSize == null || $scope.pageSize == undefined){
                $scope.pageSize = "10";
            }
            if ($scope.sortDirection == null || $scope.sortDirection == undefined){
                $scope.sortDirection = "ASC";
            }
            if ($scope.pageNum == null || $scope.pageNum == undefined){
                $scope.pageNum = "0";
            }
        }
        
        $scope.createPaginationParams = function(totalPages){
            $scope.pageArray = [];
            $scope.previousPage = 0;
            $scope.nextPage= Number($scope.pageNum) + 1;

            if ($scope.pageNum > 0){
                $scope.previousPage = $scope.pageNum - 1;
            }
            if ($scope.pageNum >= totalPages-1){
                $scope.nextPage = totalPages-1;
            }
            $scope.pageArray = [];
            for (let i =0; i < totalPages; i++){
                $scope.pageArray.push(i);        
            }        
        }


    $scope.getSearchContentlist = function(contentUrl){
        $scope.getPageAttributes();
        $http({
            url: contentUrl + "/search?search=" + $scope.searchString,
            method: "GET"
        }).then(function(response){
            $scope.contentlist = response.data.content;
            $scope.createPaginationParams(response.data.totalPages);
        });
        }


        $scope.deleteEmployee = function(delId){
                $http({
                url: "/employee/"+delId,
                method: "DELETE"
            }).then(function(response){
                $scope.employee = response.data;
                $scope.getEmployees();
            });
            }

        $scope.getPagesContentlist($scope.contentUrl);

    });
</script>
<body ng-app="EMPLOYEE_LIST" ng-controller="EMPLOYEE_LIST_CTRL">
<script src="js/bootstrap.bundle.min.js"></script>
<div class="container text-center">
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/employees/form'">Добавить поверителя</button>
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Сортировать
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/employees?page=0&dir=ASC&size={{pageSize}}">А-Я</a></li>
                <li><a class="dropdown-item" href="/employees?page=0&dir=DESC&size={{pageSize}}">Я-А</a></li>
            </ul>
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Выводить по
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/employees?page=0&dir={{sortDirection}}&size=10">10</a></li>
                <li><a class="dropdown-item" href="/employees?page=0&dir={{sortDirection}}&size=20">20</a></li>
                <li><a class="dropdown-item" href="/employees?page=0&dir={{sortDirection}}&size=50">50</a></li>
            </ul>
    
            <form class="d-flex" role="search">
                <input ng-model="searchString" style="display: inline-block; max-width: 300px;" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" ng-click="getSearchContentlist(contentUrl)" type="submit">Поиск</button>
            </form>
               
        </form>
    </nav>
    <div class="row">
        <table class="table table-info table-striped table-hover">
            <tr><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>СНИЛС</th><th></th></tr>
            <tr ng-repeat="employee in contentlist"><td><a href="employees/{{employee.id}}?id={{employee.id}}">{{employee.surname}}</a></td><td>{{employee.name}}</td><td>{{employee.patronymic}}</td><td>{{employee.snils}}</td><td><button class="btn btn-primary" ng-click="deleteEmployee(employee.id)" type="button">Удалить</button></td></tr>
        </table>
    </div>
    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="/employees?page={{previousPage}}&dir={{sortDirection}}&size={{pageSize}}">Предыдущая</a></li>
              <li ng-repeat="item in pageArray track by $index" class="page-item"><a class="page-link" href="/employees?page={{item}}&dir={{sortDirection}}&size={{pageSize}}">{{item+1}}</a></li>
              <li class="page-item"><a class="page-link" href="/employees?page={{nextPage}}&dir={{sortDirection}}&size={{pageSize}}">Следующая</a></li>
            </ul>
          </nav>

    </div>
</div>
</body>
</html>
