<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список пользователей</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
</head>
<script type="text/javascript">
    var app = angular.module("EMPLOYEE_LIST", []);
    app.controller("EMPLOYEE_LIST_CTRL", function($scope, $http){

        $scope.employees = [];
        $scope.getEmployees = function(){
        $http({
            url: "/employee",
            method: "GET"
        }).then(function(response){
            $scope.employees = response.data;
            console.log($scope.employees);
        });
        }

        $scope.deleteEmployee = function(delId){
                $http({
                url: "/employee/"+delId,
                method: "DELETE"
            }).then(function(response){
                $scope.employee = response.data;
                $scope.getEmployees();
            });
            }

        $scope.getEmployees();
    });


</script>
<body ng-app="EMPLOYEE_LIST" ng-controller="EMPLOYEE_LIST_CTRL">
<script src="js/bootstrap.bundle.min.js"></script>
<div class="container text-center">
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/'">Домой</button>
            <button class="btn btn-outline-success me-2" type="button" onclick="location.href='/employees/form'">Добавить поверителя</button>
        </form>
    </nav>
    <div class="row">
        <table class="table table-info table-striped table-hover">
            <tr><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>СНИЛС</th><th></th></tr>
            <tr ng-repeat="employee in employees"><td><a href="employees/{{employee.id}}?id={{employee.id}}">{{employee.surname}}</a></td><td>{{employee.name}}</td><td>{{employee.patronymic}}</td><td>{{employee.snils}}</td><td><button class="btn btn-primary" ng-click="deleteEmployee(employee.id)" type="button">Удалить</button></td></tr>
        </table>
    </div>
    <div class="row">


    </div>
</div>
</body>
</html>
