<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавление сведений о поверителе</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="EMPLOYEE_FORM" ng-controller="EMPLOYEE_FORM_CTRL">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7">
                <nav class="navbar navbar-expand  rounded">
                    <div class="container-fluid justify-content-start">
                        <div class="nav">
                            <a class="btn btn-sm btn-outline-primary" role="button" href="/">Главная</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link" href="/verification">Поверка</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link" href="/employee">Список поверителей</a>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-md-3">
                <nav class="navbar bg-body-tertiary">
                    <form class="container-fluid justify-content-end">
                        <label class="d-flex p-2" ng-model="currentUser">{{currentUser.surname}}
                            {{currentUser.name}}</label>
                        <a class="btn btn-sm btn-outline-secondary" href="/logout" role="button">Выйти</a>
                    </form>
                </nav>
            </div>
        </div>
        <div class="row g-2 justify-content-center">
        <div class="col-md-5">
            <div class="row g-2">
                <div class="col-md-12">
                    <p></p>
                    <label for="inputText2" class="form-label">Поверитель</label>
                    <input type="text" ng-change="searchEmployee()" ng-model="employeeSearchString"
                        data-bs-toggle="dropdown" class="form-control dropdown-toggle border-primary" id="inputText3"
                        value="">

                    <ul class="dropdown-menu" ng-model="employee">
                        <li ng-repeat="item in employees" value="{{item}}"> <a class="dropdown-item"
                                ng-click="selectEmployee(item)" href="#">{{item.surname}} {{item.name}}
                                {{item.patronymic}}</a></li>
                    </ul>
                </div>
            </div>
            <p></p>
            <label for="inputText2" class="form-label">СНИЛС (указывается числом, без тире и пробелов)</label>
            <input type="text" ng-model="employee.snils" class="form-control border-primary" value="" required>
            <p></p>
            <div class="col-12">
                <button class="btn btn-primary" ng-click="addEmployee()" type="button">Добавить поверителя</button>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("EMPLOYEE_FORM", []);
        app.controller("EMPLOYEE_FORM_CTRL", function ($scope, $http) {

            // сохранение в БД;
            $scope.addEmployee = function () {
                if (/^([0-9]{11})$/.exec($scope.employee.snils)) {
                    $http({
                        url: "/employees",
                        method: "POST",
                        data: {
                            userDto: $scope.userDto,
                            snils: $scope.employee.snils
                        }
                    }).then(function successCallback(response) {
                        console.log($scope.employee);
                        alert(response.data.message);
                        window.location.href = "/employee";
                    }, function errorCallback(response) {
                        alert(response.data.message)
                    });
                } else {
                    alert('Неверный формат СНИЛС');
                }
            }

            $scope.employees = [];
                $scope.searchEmployee = function () {
                    if ($scope.employeeSearchString.length > 2) {
                        $http({
                            url: "/users/search?search=" + $scope.employeeSearchString,
                            method: "GET"
                        }).then(function (response) {
                            $scope.employees = response.data;
                            console.log($scope.employees);
                        });
                    }
                }

                $scope.userDto = {};
                $scope.selectEmployee = function (item) {
                    $scope.employeeSearchString = item.surname + " " + item.name + " " + item.patronymic;
                    $scope.userDto = item;
                }


                function getCurrentUser() {
                $http({
                    url: "/users/username",
                    method: "GET"
                }).then(function (response) {
                    $scope.currentUser = response.data;
                });
            }
            getCurrentUser();



        });
    </script>
</body>

</html>