<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body data-bs-theme="light">
<script src="/js/bootstrap.bundle.min.js"></script>
<div class="container text-center">
    <div class="row">
      <div class="col">
        <h1>База данных средств измерений</h1>
      </div>
    </div>
    <div class="row">
        <div class="col">
              <div class="card" style="width: 17rem;">
            <img src="/images/certificates.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Загрузка сведений о поверке</h5>
              <p class="card-text">Формирования пакетов данных для ФСА</p>
              <a href="/issues" class="btn btn-primary">Открыть</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 17rem;">
            <img src="/images/users.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Список поверителей</h5>
              <p class="card-text">Сведения о поверке СИ, поверенных организацией</p>
              <a href="/employees?page=0" class="btn btn-primary">Открыть</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 17rem;">
            <img src="/images/report.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Перечень отчетов</h5>
              <p class="card-text">Отчеты о поверке средств измерений</p>
              <a href="/reports/form" class="btn btn-primary">Открыть</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <div class="card" style="width: 17rem;">
            <img src="/images/mit.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Перечень утвержденных типов средств измерений</h5>
              <p class="card-text">Типы средств измерений</p>
              <a href="/mits" class="btn btn-primary">Открыть</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="width: 17rem;">
                <img src="/images/mi.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Перечень средств измерений</h5>
                    <p class="card-text">Средства измерений</p>
                    <a href="/mis" class="btn btn-primary">Открыть</a>
                </div>
            </div>
        </div>
        <div class="col">
          <div class="card" style="width: 17rem;">
              <img src="/images/organization.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Перечень организаций</h5>
                  <p class="card-text">Информация о сторонних организациях</p>
                  <a href="/organizations" class="btn btn-primary">Открыть</a>
              </div>
          </div>
      </div>
    </div>
        
        


</body>
</html>
