<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Система метрологического обеспечения</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body data-bs-theme="light">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-3">
    <nav class="navbar navbar-expand-lg">

        <div class="collapse  navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Администрирование системы
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/employee?page=0">Список поверителей</a></li>
                <li><a class="dropdown-item" href="/organization?page=0">Перечень организаций</a></li>
                <li><a class="dropdown-item" href="/standard?page=0">Перечень эталонов</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings/form">Настройки</a>
            </li>
          </ul>
        </div>
      </div>
        </div>
    </nav>

    <div class="row text-primary-emphasis">
      <div class="text-primary-emphasis">
        <h4>Система метрологического обеспечения</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 text-start">
        <div class="btn-group-vertical" role="group" aria-label="vertical_menu">
          <a class="btn btn-primary btn-lg" href="/mit" role="button">Типы средств измерений</a>
          <a class="btn btn-primary btn-lg" href="/mi" role="button">Средства измерений</a>
          <div class="btn-group dropend">
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Отчеты
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item " href="/report/verification">Отчеты о поверке</a></li>
              <li><a class="dropdown-item " href="/report/verification/record/counter/date/employee?employeeId=1">Количество выполненных поверок по поверителям</a></li>
              <li><a class="dropdown-item " href="/report/verification/ready/arshin">Выгрузка сведений о поверке в Аршин</a></li>
              <li><a class="dropdown-item " href="/report/verification/ready/fsa">Выгрузка сведений о поверке в ФСА</a></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</body>

</html>